<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/hibernate-database</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <mapping class="com.ntdat.hibernateproject.entities.ChiTietLopHocEntity"/>
        <mapping class="com.ntdat.hibernateproject.entities.ChiTietMonHocEntity"/>
        <mapping class="com.ntdat.hibernateproject.entities.LopHocEntity"/>
        <mapping class="com.ntdat.hibernateproject.entities.MonHocEntity"/>
        <mapping class="com.ntdat.hibernateproject.entities.PhucKhaoEntity"/>
        <mapping class="com.ntdat.hibernateproject.entities.SinhVienEntity"/>
        <mapping class="com.ntdat.hibernateproject.entities.TaiKhoanEntity"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>